:root {
    --silver1: #a2abab;
    --silver2: #7D869C;
    --gray1: #f6f9fc;
    --gray2: #8898aa;
    --gray3: #32325d;
    --blue: #586994;
    --green1: #E5E8B6;
    --green2: #B4C4AE;
    --white: #f4f4fb;
    --black: #000;
    --red: #ff0000;
  }

